<section class="ssm-picker-app">
    <form class="ssm-seed-scene-select">
        <ol >
            <li>
                <label for="z_comp_sel">{{compSelectText}}</label>
                <select class="ssm-light-text" name="z_comp_sel" id="z_comp_sel">
                    <option class="ssm-dark-text" value="no_selection">{{defaultSelect}}</option>
                    {{#each compendiumList}}
                        <option class="ssm-dark-text" value="{{this}}"
                        {{#if (comp_equal ../compendium)}}
                            selected
                        {{/if}}
                        >{{this}}</option>
                    {{/each}}
                </select>
            </li>
            <li>
                <label for="z_scene_sel">{{sceneSelectText}}</label>
                <select name="z_scene_sel" id="z_scene_sel"
                    {{#unless compendium}}
                        disabled
                    {{/unless}}
                >
                    <option class="ssm-dark-text" value="no_selection">{{defaultSelect}}</option>
                    {{#each sceneList}}
                        <option class="ssm-dark-text" value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </li>
        </ol>
    </form>
</section>