<section class="ssm-app">
    <form>
        {{#unless isPath}}
            {{#if isBatch}}
                <div class="ssm-input-grid ssm-grid-items-centered">
                    <label>{{localize 'SSM.ConvertImageUI.Label.folder'}}</label>
                    <div class="filepicker-fields">
                        {{filePicker target="imagePath" type="folder"}}
                        <input type="text" name="imagePath"/>
                    </div>
                </div>
            {{else}}
                <div class="ssm-input-grid ssm-grid-items-centered">
                    <label>{{localize 'SSM.ConvertImageUI.Label.image'}}</label>
                    <div class="filepicker-fields">
                        {{filePicker target="imagePath" type="image"}}
                        <input type="text" name="imagePath"/>
                    </div>
                </div>
            {{/if}}
        {{else}}
            <div class="ssm-input-grid ssm-grid-items-centered">
                <label>{{localize 'SSM.ConvertImageUI.Label.image'}}</label>
                <div class="filepicker-fields">
                    <input type="text" name="imagePath" value="{{isPath}}"/>
                </div>
            </div>
        {{/unless}}
        {{#if isCompression}}
            <div class="ssm-compression-slider">
                <label>{{localize 'SSM.ConvertImageUI.Compression'}}</label>
                <input type="range" name="compression" value="{{compression}}" min="0.7" max="1.0" step="0.01"/>
                <span class="range-value">{{compression}}</span>
            </div>
        {{/if}}
        <div class="ssm-grid-centered">
            <button type="submit" id="ssm-ciui-submit" name="submit" class="button-continue">
                {{localize 'SSM.Submit'}}
            </button>
        </div>
    </form>
</section>
