<section class="ssm-app">
    <div class="ssm-input-grid ssm-light-text ssm-grid-items-centered ssm-p10" id="ssm-comp-choice-current">
        <label for="ssm-comp-choice-current">{{localize "SSM.DefaultSceneCompendiumMenu.CurrentLabel"}}</label>
        <input class="ssm-light-text" type="text" name="ssm-comp-choice-current" value="{{current}}"/>        
    </div>
    <form class="ssm-config-radio-select ssm-light-text ssm-p10">
        {{#if noRadio}}
            <div class="ssm-radio-w-label">
                <input type="radio" name="ssm-comp-choice" id="create-comp" value="1"/>
                <label for="create-comp">{{localize "SSM.DefaultSceneCompendiumMenu.UI.CreateLabel"}}</label>
            </div>
            <div class="ssm-radio-w-label">
                <input type="radio" name="ssm-comp-choice" id="choose-comp" value="2"/>
                <label for="choose-comp">{{localize "SSM.DefaultSceneCompendiumMenu.UI.SelectLabel"}}</label>
            </div>
        {{/if}}

        {{#if createRadio}}
            <div class="ssm-radio-w-label">
                <input type="radio" name="ssm-comp-choice" id="choose-comp" value="2"/>
                <label for="choose-comp">{{localize "SSM.DefaultSceneCompendiumMenu.UI.SelectLabel"}}</label>
            </div>
            <div class="ssm-radio-w-label">
                <input type="radio" name="ssm-comp-choice" id="create-comp" value="1" checked="checked"/>
                <label for="create-comp">{{localize "SSM.DefaultSceneCompendiumMenu.UI.CreateLabel"}}</label>
            </div>
            <div class="ssm-text-w-label">
                <div></div>
                <label for="ssm-create-name">{{localize "SSM.DefaultSceneCompendiumMenu.UI.CreateInputLabel"}}</label>
                <input class="ssm-light-text" type="text" name="ssm-create-name" value=""/>
            </div>
        {{/if}}
            
        {{#if chooseRadio}}
            <div class="ssm-radio-w-label">
                <input type="radio" name="ssm-comp-choice" id="create-comp" value="1"/>
                <label for="create-comp">{{localize "SSM.DefaultSceneCompendiumMenu.UI.CreateLabel"}}</label>
            </div>
            <div class="ssm-radio-w-label">
                <input type="radio" name="ssm-comp-choice" id="choose-comp" value="2" checked="checked"/>
                <label for="choose-comp">{{localize "SSM.DefaultSceneCompendiumMenu.UI.SelectLabel"}}</label>
            </div>
            <div class="ssm-radio-w-label">
                <div></div>
                <select class="ssm-light-text" name="z_comp_sel" id="z_comp_sel">
                    <option class="ssm-dark-background ssm-light-text">{{defaultSelect}}</option>
                    {{#each compendiumList}}
                        <option class="ssm-dark-background ssm-light-text" value="{{this}}"
                        {{#if (comp_equal ../compendium)}}
                            selected
                        {{/if}}
                        >{{this}}</option>
                    {{/each}}
                </select>
            </div>
        {{/if}}

        {{#if submitRadio}}
            <footer class="ssm-span2 ssm-flex-j-center ssm-p10">
                <button type="submit" name="submit" class="ssm-light-background ssm-dark-text ssm-no-border ssm-button-250px">
                    <i class="far fa-save"></i> {{localize "SSM.SaveDefault"}}
                </button>
            </footer>
        {{/if}}
    </form>
</section>
