<section class="ssm-app">
    <form>
        <div class="ssm-resize-sizes">
            <label>{{localize 'SSM.ResizeImageUI.Label.width'}}</label>
            <input type="number" id="ssm-resize-width" value="{{tileWidth}}"/>
            <label>{{localize 'SSM.ResizeImageUI.Label.height'}}</label>
            <input type="number" id="ssm-resize-height" value="{{tileHeight}}"/>
        </div>
        <p>{{localize 'SSM.ResizeImageUI.Instructions1'}}</p>
        <div class="ssm-grid-centered">
            <button type="submit" id="ssm-riui-submit" name="submit" class="button-continue">
                {{localize 'SSM.ConvertImageUI.Submit'}}
            </button>
        </div>
    </form>
</section>